
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100.7rem;
}.frame-4-Hf4 {
  width: 100%;
  height: 91.6rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-13-ATx {
    width: 34.9rem;
    height: 108rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #14333a;
  }
  .ezze-design-image-hCz {
    vertical-align: top;
    width: 34.5rem;
    height: 105.2rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  .frances-2m4 {
    height: 2.5rem;
    font-size: 2rem;
    color: #ffffff;
    top: 87rem;
    font-weight: 300;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 7rem;
    position: absolute;
    left: 3.8rem;
  }
  .ingles-j9g {
    top: 80.3rem;
    font-size: 2rem;
    line-height: 1.2125;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    height: 2.5rem;
    left: 4.1rem;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
    width: 5.5rem;
  }
  .linkedin-zrJ {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.1rem;
    height: 2.5rem;
    top: 62.4rem;
    font-size: 2rem;
    position: absolute;
    left: 2rem;
    font-weight: 300;
    line-height: 1.2125;
  }
  .email-HqQ {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    left: 2rem;
    top: 52.8rem;
    line-height: 1.2125;
    width: 5rem;
    height: 2.5rem;
    position: absolute;
  }
  .telefono-PdY {
    font-weight: 300;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.7rem;
    height: 2.5rem;
    left: 2rem;
    font-size: 2rem;
    position: absolute;
    top: 44.8rem;
    color: #ffffff;
  }
  .direccion-3TC {
    left: 2rem;
    top: 36.3rem;
    font-size: 2rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 8.6rem;
    height: 2.5rem;
    position: absolute;
    font-weight: 300;
    line-height: 1.2125;
  }
  .gg-profile-tii {
    position: absolute;
    left: 10.625rem;
    top: 10.525rem;
    object-fit: contain;
    vertical-align: top;
    width: 13.75rem;
    height: 13.75rem;
  }
  .rectangle-14-bt2 {
    width: 34.9rem;
    height: 4.6rem;
    position: absolute;
    left: 0;
    top: 29.3rem;
    background-color: rgba(62, 80, 83, 0.8299999833);
  }
  .rectangle-15-iSr {
    width: 34.9rem;
    height: 4.6rem;
    position: absolute;
    left: 0;
    top: 72.5rem;
    background-color: rgba(62, 80, 83, 0.8299999833);
  }
  .perfil-r3G {
    white-space: nowrap;
    position: absolute;
    left: 4.1rem;
    font-weight: 300;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 4.8rem;
    height: 2.5rem;
    top: 30.4rem;
    font-size: 2rem;
  }
  .idiomas-unE {
    font-family: Inter, 'Source Sans Pro';
    width: 7.2rem;
    height: 2.5rem;
    position: absolute;
    top: 73.6rem;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    white-space: nowrap;
    left: 4.1rem;
    line-height: 1.2125;
  }
  .line-11-cge {
    top: 40.8rem;
    background-color: #ffffff;
    width: 24rem;
    height: 0.1rem;
    position: absolute;
    left: 3.2rem;
  }
  .line-12-YKQ {
    background-color: #ffffff;
    width: 24rem;
    height: 0.1rem;
    position: absolute;
    left: 2.7rem;
    top: 50.5rem;
  }
  .line-13-54S {
    height: 0.1rem;
    position: absolute;
    left: 3.2rem;
    top: 58.5rem;
    background-color: #ffffff;
    width: 24rem;
  }
  .line-14-1Cz {
    width: 24rem;
    height: 0.1rem;
    position: absolute;
    left: 3.2rem;
    top: 68.5rem;
    background-color: #ffffff;
  }
  .line-15-Lm4 {
    left: 3.3991rem;
    top: 83.95rem;
    background-color: #ffffff;
    width: 23.8019rem;
    height: 0.5rem;
    position: absolute;
  }
  .line-17-seW {
    vertical-align: top;
    width: 14.901rem;
    height: 0;
    position: absolute;
    left: 3.399rem;
    top: 83.7255rem;
    object-fit: contain;
  }
  .line-16-DCa {
    background-color: #ffffff;
    width: 23.8019rem;
    height: 0.5rem;
    position: absolute;
    left: 3.4rem;
    top: 90.4rem;
  }
  .line-18-KmQ {
    height: 0;
    position: absolute;
    left: 3.4rem;
    top: 90.15rem;
    object-fit: contain;
    vertical-align: top;
    width: 10.2rem;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-2vi {
    left: 41.4rem;
    top: 4.7rem;
    font-size: 1.5rem;
    font-family: Inter, 'Source Sans Pro';
    width: 47.8rem;
    height: 7.3rem;
    position: absolute;
    font-weight: 300;
    line-height: 1.2125;
    color: #000000;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-3qp {
    font-size: 1.5rem;
    width: 40.7rem;
    position: absolute;
    top: 20.7rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 7.3rem;
    left: 50.4rem;
    font-weight: 300;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-gNz {
    position: absolute;
    left: 50.4rem;
    top: 32.1rem;
    font-weight: 300;
    line-height: 1.2125;
    width: 40.7rem;
    height: 7.3rem;
    font-size: 1.5rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-JfG {
    line-height: 1.2125;
    color: #000000;
    left: 50.4rem;
    font-size: 1.5rem;
    font-weight: 300;
    top: 51.3rem;
    font-family: Inter, 'Source Sans Pro';
    width: 40.7rem;
    height: 7.3rem;
    position: absolute;
  }
  .experiencia-7ci {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    left: 38.9rem;
    font-size: 1.5rem;
    position: absolute;
    top: 14.7rem;
    font-weight: 700;
    line-height: 1.2125;
    white-space: nowrap;
    width: 10rem;
    height: 1.9rem;
  }
  .cargo-1i6 {
    width: 4.2rem;
    position: absolute;
    top: 18.6rem;
    white-space: nowrap;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 1.9rem;
    left: 50.7rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2125;
  }
  .cargo-HvW {
    position: absolute;
    left: 50.7rem;
    top: 30rem;
    font-size: 1.5rem;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    width: 4.2rem;
    height: 1.9rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
  }
  .cargo-mqg {
    font-weight: 700;
    color: #000000;
    height: 1.9rem;
    position: absolute;
    top: 49.2rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 4.2rem;
    left: 50.7rem;
    font-size: 1.5rem;
  }
  .item-2018-01-220-06-Uzz {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    top: 20.7rem;
    left: 40.5rem;
    line-height: 1.2125;
    color: #000000;
    width: 6.3rem;
    height: 3.7rem;
  }
  .item-2018-01-220-06-ywk {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    height: 3.7rem;
    left: 40.5rem;
    top: 32.1rem;
    width: 6.3rem;
  }
  .item-2018-01-220-06-tYv {
    height: 3.7rem;
    left: 40.5rem;
    top: 51.3rem;
    font-size: 1.5rem;
    width: 6.3rem;
    position: absolute;
    font-weight: 300;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .que-hacias-que-aprendiste-Bnv {
    position: absolute;
    font-weight: 300;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    height: 3.7rem;
    left: 50.4rem;
    top: 39.3rem;
    font-size: 1.5rem;
    color: #000000;
    width: 10.5rem;
  }
  .que-hacias-que-aprendiste-TkS {
    width: 10.5rem;
    left: 50.5rem;
    top: 58.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 3.7rem;
    position: absolute;
    line-height: 1.2125;
  }
  .educacion-Vh8 {
    width: 9.2rem;
    position: absolute;
    top: 65.2rem;
    font-size: 1.5rem;
    font-family: Inter, 'Source Sans Pro';
    height: 1.9rem;
    left: 40.5rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
  }
  .informacion-adicional-ysC {
    font-weight: 700;
    line-height: 1.2125;
    width: 15.9rem;
    position: absolute;
    font-size: 1.5rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.9rem;
    left: 40.9rem;
    top: 91.6rem;
  }
  .rectangle-16-sBt {
    width: 66.2rem;
    height: 3.6rem;
    position: absolute;
    left: 34.5rem;
    top: 64.1rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
  }
  .rectangle-18-Agn {
    top: 90.5rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 66.2rem;
    height: 3.6rem;
    position: absolute;
    left: 34.9rem;
  }
  .rectangle-17-gQE {
    box-sizing: border-box;
    width: 66.2rem;
    height: 3.6rem;
    position: absolute;
    left: 34.5rem;
    top: 13.7rem;
    border: solid 0.1rem #000000;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-ny4 {
    width: 156.3rem;
    position: absolute;
    font-size: 1.5rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.9rem;
    left: 42.8rem;
    top: 96.1rem;
    font-weight: 300;
    line-height: 1.2125;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-nra {
    height: 1.9rem;
    left: 42.8rem;
    top: 96.1rem;
    font-weight: 300;
    line-height: 1.2125;
    color: #000000;
    width: 156.3rem;
    position: absolute;
    font-size: 1.5rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .image-1-1US {
    height: 14rem;
    position: absolute;
    left: 37.1rem;
    top: 70.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 62.2rem;
  }
}
