
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 77.4rem;
}.frame-8-814 {
  flex-direction: column;
  background-color: #d9d9d9;
  box-sizing: border-box;
  padding: 10.1rem 14.4rem 4.5rem 18rem;
  width: 100%;
  align-items: center;
  display: flex;

  .su-solicitud-a-sido-emitida-corectamente-dTc {
    text-align: center;
    line-height: 1.2125;
    flex-shrink: 0;
    margin-bottom: 4.8rem;
    max-width: 45rem;
    font-size: 3rem;
    font-weight: 500;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-85in-7ta {
    width: calc(100% - 12.4rem);
    height: 6.1rem;
    justify-content: center;
    margin: 0 6.2rem;
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #faf1f1;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    align-items: center;
    background-color: #69f777;
    border-radius: 2rem;
  }
}
