
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-2-dTc {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-3-LN2 {
    box-shadow: 0 0.4rem 0.47rem rgba(94, 37, 37, 0.6000000238);
    background-color: #13333a;
    width: 37.8rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .ezze-design-image-FUz {
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 38.3rem;
    height: 103.1rem;
    position: absolute;
  }
  .group-3-kwY {
    box-sizing: border-box;
    width: 30rem;
    position: absolute;
    left: 1.1rem;
    align-items: flex-end;
    padding: 0.001rem 0rem 0rem 0.015rem;
    height: 8.2rem;
    top: 0;
    display: flex;

    .streamline-ai-technology-spark-solid-f2v {
      width: 7.1706rem;
      height: 7.2371rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.614rem 0.962rem 0rem;
    }
    .technology-mLr {
      font-weight: 700;
      line-height: 1.2125;
      color: #2da0e0;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
    }
  }
  .rectangle-6-68E {
    white-space: nowrap;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    box-sizing: border-box;
    top: 17.3rem;
    background-color: #9180ff;
    height: 7.4rem;
    left: 0;
    cursor: pointer;
    position: absolute;
    font-size: 3rem;
    font-weight: 300;
    color: #ffffff;
    border: solid 0.1rem #000000;
    padding: 1.3rem 2.3rem 2.4rem 2.3rem;
    width: 37.8rem;
  }
  .rectangle-9-hNv {
    background-color: #9180ff;
    position: absolute;
    line-height: 1.2125;
    white-space: nowrap;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 37.8rem;
    left: 0.1rem;
    font-weight: 300;
    height: 7.4rem;
    font-size: 3rem;
    border: solid 0.1rem #000000;
    top: 27.7rem;
    box-sizing: border-box;
    padding: 1.3rem 2.3rem 2.4rem 2.3rem;
    cursor: pointer;
  }
  .rectangle-10-uUz {
    box-sizing: border-box;
    top: 39.3rem;
    line-height: 1.2125;
    color: #ffffff;
    padding: 1.3rem 2.3rem 2.4rem 2.3rem;
    width: 37.8rem;
    cursor: pointer;
    position: absolute;
    font-weight: 300;
    height: 7.4rem;
    left: 0;
    font-family: Inter, 'Source Sans Pro';
    border: solid 0.1rem #000000;
    font-size: 3rem;
    white-space: nowrap;
    background-color: #9180ff;
  }
  .rectangle-11-MLz {
    line-height: 1.2125;
    padding: 1.3rem 2.3rem 2.4rem 2.3rem;
    width: 37.8rem;
    cursor: pointer;
    position: absolute;
    left: 0.1rem;
    font-size: 3rem;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #9180ff;
    height: 7.4rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    top: 51.2rem;
    font-weight: 300;
    border: solid 0.1rem #000000;
  }
  .rectangle-12-azS {
    color: #ffffff;
    background-color: #9180ff;
    width: 37.8rem;
    height: 7.4rem;
    left: 0.1rem;
    font-size: 3rem;
    border: solid 0.1rem #000000;
    top: 63.1rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    box-sizing: border-box;
    padding: 1.3rem 2.3rem 2.4rem 2.3rem;
    cursor: pointer;
    font-weight: 300;
  }
  .rectangle-7-bee {
    width: 91.7rem;
    height: 6.2rem;
    position: absolute;
    left: 39.501rem;
    top: 27.8rem;
    background-color: #13333a;
  }
  .lista-de-postulantes-uvE {
    position: absolute;
    top: 19.7rem;
    font-weight: 300;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 27.3rem;
    left: 79rem;
    font-size: 3rem;
    color: #000000;
    white-space: nowrap;
    height: 3.7rem;
  }
  .nombre-zgn {
    color: #faf1f1;
    width: 10.7rem;
    height: 3.7rem;
    position: absolute;
    left: 42.601rem;
    top: 29.7rem;
    font-size: 3rem;
    line-height: 1.2125;
    white-space: nowrap;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
  }
  .cargo-JSa {
    top: 29.7rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2125;
    color: #faf1f1;
    font-family: Inter, 'Source Sans Pro';
    width: 8rem;
    left: 64.501rem;
    white-space: nowrap;
    height: 3.7rem;
    position: absolute;
  }
  .fecha-postulacion-DJe {
    font-size: 3rem;
    color: #faf1f1;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 24.9rem;
    top: 29.7rem;
    left: 82.301rem;
    font-weight: 300;
    line-height: 1.2125;
    height: 3.7rem;
    position: absolute;
  }
  .estado-uxA {
    top: 29.7rem;
    font-weight: 300;
    line-height: 1.2125;
    color: #faf1f1;
    width: 9.7rem;
    height: 3.7rem;
    position: absolute;
    left: 118.101rem;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    white-space: nowrap;
  }
  .armando-nuez-ppE {
    width: 14.5rem;
    position: absolute;
    top: 36.7rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
    left: 41.101rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .jason-iuc {
    font-weight: 300;
    line-height: 1.2125;
    color: #000000;
    width: 5.6rem;
    height: 2.5rem;
    left: 41.101rem;
    top: 42.5rem;
    position: absolute;
    font-size: 2rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .administracion-Esx {
    white-space: nowrap;
    height: 2.5rem;
    font-size: 2rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 13.7rem;
    position: absolute;
    left: 61.601rem;
    top: 36.2rem;
    font-weight: 300;
  }
  .administracion-LAJ {
    font-weight: 300;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    font-family: Inter, 'Source Sans Pro';
    width: 13.7rem;
    height: 2.5rem;
    position: absolute;
    left: 61.701rem;
    top: 42rem;
    font-size: 2rem;
  }
  .administracion-RxS {
    width: 13.7rem;
    height: 2.5rem;
    left: 61.801rem;
    top: 48.8rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    font-size: 2rem;
    font-weight: 300;
  }
  .administracion-Xka {
    top: 54.8rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
    width: 13.7rem;
    position: absolute;
    left: 61.801rem;
    white-space: nowrap;
    height: 2.5rem;
    line-height: 1.2125;
    color: #000000;
  }
  .maria-elena-EQ6 {
    color: #000000;
    position: absolute;
    left: 41.101rem;
    line-height: 1.2125;
    font-size: 2rem;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 10.8rem;
    height: 2.5rem;
    top: 48.3rem;
  }
  .elena-91G {
    color: #000000;
    width: 5.1rem;
    left: 41.101rem;
    top: 54.1rem;
    font-size: 2rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    font-weight: 300;
    line-height: 1.2125;
  }
  .xx-xx-xxxx-TGr {
    top: 36.5rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 89.301rem;
    height: 2.5rem;
    position: absolute;
    line-height: 1.2125;
    color: #000000;
    width: 9.9rem;
  }
  .xx-xx-xxxx-YZC {
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
    left: 89.101rem;
    top: 42.7rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2125;
    width: 9.9rem;
    position: absolute;
    color: #000000;
    white-space: nowrap;
  }
  .xx-xx-xxxx-FTc {
    width: 9.9rem;
    height: 2.5rem;
    font-weight: 300;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    left: 89.401rem;
    top: 48.9rem;
    font-size: 2rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .xx-xx-xxxx-Ljx {
    font-weight: 300;
    line-height: 1.2125;
    white-space: nowrap;
    width: 9.9rem;
    height: 2.5rem;
    top: 55.1rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    left: 89.501rem;
    font-size: 2rem;
  }
  .en-revision-4AA {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    top: 36.9rem;
    font-size: 2rem;
    font-weight: 300;
    color: #000000;
    width: 10.1rem;
    left: 118.101rem;
    line-height: 1.2125;
  }
  .entrevist-programada-Zsc {
    color: #000000;
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    left: 110.101rem;
    top: 42.5rem;
    line-height: 1.2125;
    width: 20rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
  }
  .en-revison-UUn {
    font-weight: 300;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    line-height: 1.2125;
    white-space: nowrap;
    width: 9.7rem;
    height: 2.5rem;
    position: absolute;
    left: 118.101rem;
    top: 48.8rem;
    font-size: 2rem;
  }
  .rechazado-ywL {
    white-space: nowrap;
    left: 118.101rem;
    line-height: 1.2125;
    position: absolute;
    top: 54.8rem;
    font-size: 2rem;
    font-weight: 300;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 9.9rem;
    height: 2.5rem;
  }
  .rectangle-8-tHc {
    height: 3.7rem;
    position: absolute;
    left: 46.5rem;
    top: 10.1rem;
    background-color: #d9d9d9;
    border-radius: 2.1rem;
    width: 94.6rem;
  }
  .mingcute-search-line-CZC {
    top: 9.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.2rem;
    height: 3.9rem;
    position: absolute;
    left: 41.3rem;
  }
  .line-1-vEJ {
    top: 34.2rem;
    background-color: #000000;
    width: 91.702rem;
    height: 0.1rem;
    position: absolute;
    left: 39.5rem;
  }
  .line-3-3Jv {
    width: 91.702rem;
    height: 0.1rem;
    position: absolute;
    left: 39.501rem;
    top: 46.3rem;
    background-color: #000000;
  }
  .line-5-mki {
    width: 91.702rem;
    height: 0.1rem;
    position: absolute;
    left: 39.501rem;
    top: 58.6rem;
    background-color: #000000;
  }
  .line-2-uM8 {
    position: absolute;
    left: 39.501rem;
    top: 40.3rem;
    background-color: #000000;
    width: 91.702rem;
    height: 0.1rem;
  }
  .line-4-2Rk {
    position: absolute;
    left: 39.501rem;
    top: 52.6rem;
    background-color: #000000;
    width: 91.702rem;
    height: 0.1rem;
  }
  .line-6-A2A {
    top: 64.7rem;
    background-color: #000000;
    width: 91.702rem;
    height: 0.1rem;
    position: absolute;
    left: 39.502rem;
  }
  .line-7-6Rc {
    left: 37.5rem;
    top: 8.2rem;
    background-color: #807676;
    width: 106.5rem;
    height: 0.1rem;
    position: absolute;
  }
  .group-4-2q4 {
    left: 133.6rem;
    font-weight: 300;
    line-height: 1.2125;
    white-space: nowrap;
    background-color: #13333a;
    height: 3.1rem;
    position: absolute;
    font-size: 2rem;
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
    width: 7.2rem;
    cursor: pointer;
    color: #f8ecec;
    align-items: center;
    top: 36.1rem;
    display: flex;
  }
  .group-5-tsG {
    align-items: center;
    left: 133.6rem;
    color: #f8ecec;
    display: flex;
    justify-content: center;
    width: 7.2rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    background-color: #13333a;
    height: 3.1rem;
    position: absolute;
    top: 42rem;
    white-space: nowrap;
  }
  .group-6-NnS {
    align-items: center;
    height: 3.1rem;
    left: 133.6rem;
    font-size: 2rem;
    display: flex;
    position: absolute;
    line-height: 1.2125;
    width: 7.2rem;
    top: 48.8rem;
    justify-content: center;
    white-space: nowrap;
    background-color: #13333a;
    cursor: pointer;
    font-weight: 300;
    color: #f8ecec;
    font-family: Inter, 'Source Sans Pro';
  }
  .group-7-fFk {
    font-weight: 300;
    display: flex;
    background-color: #13333a;
    cursor: pointer;
    left: 133.6rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    justify-content: center;
    width: 7.2rem;
    position: absolute;
    top: 54.7rem;
    font-size: 2rem;
    color: #f8ecec;
    align-items: center;
    height: 3.1rem;
  }
  .group-8-wyx {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    width: 7.2rem;
    cursor: pointer;
    top: 61.5rem;
    left: 133.6rem;
    color: #f8ecec;
    justify-content: center;
    font-weight: 300;
    background-color: #13333a;
    line-height: 1.2125;
    align-items: center;
    height: 3.1rem;
    position: absolute;
    font-size: 2rem;
  }
}
