
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100.7rem;
}.frame-6-URC {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 118.5rem;

  .rectangle-13-ycr {
    left: 0;
    top: 0;
    background-color: #14333a;
    width: 34.9rem;
    height: 118.5rem;
    position: absolute;
  }
  .frances-Jf8 {
    height: 2.5rem;
    position: absolute;
    left: 3.8rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 7rem;
    top: 87rem;
    font-size: 2rem;
    font-weight: 300;
    white-space: nowrap;
  }
  .ingles-bu8 {
    width: 5.5rem;
    position: absolute;
    top: 80.3rem;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
    left: 4.1rem;
    font-size: 2rem;
    line-height: 1.2125;
    color: #ffffff;
    white-space: nowrap;
  }
  .linkedin-JHk {
    width: 7.1rem;
    left: 2rem;
    font-size: 2rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    top: 62.4rem;
    font-weight: 300;
  }
  .email-Ctv {
    left: 2rem;
    top: 52.8rem;
    color: #ffffff;
    white-space: nowrap;
    font-weight: 300;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 5rem;
    height: 2.5rem;
    position: absolute;
    font-size: 2rem;
  }
  .telefono-Wuc {
    white-space: nowrap;
    height: 2.5rem;
    left: 2rem;
    top: 44.8rem;
    font-size: 2rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 7.7rem;
    position: absolute;
    font-weight: 300;
  }
  .direccion-Zst {
    width: 8.6rem;
    position: absolute;
    left: 2rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2125;
    color: #ffffff;
    white-space: nowrap;
    height: 2.5rem;
    top: 36.3rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .gg-profile-H3C {
    vertical-align: top;
    width: 13.75rem;
    height: 13.75rem;
    position: absolute;
    left: 10.625rem;
    top: 10.525rem;
    object-fit: contain;
  }
  .rectangle-14-1E6 {
    left: 0;
    top: 29.3rem;
    background-color: rgba(62, 80, 83, 0.8299999833);
    width: 34.9rem;
    height: 4.6rem;
    position: absolute;
  }
  .rectangle-15-XTL {
    left: 0;
    top: 72.5rem;
    background-color: rgba(62, 80, 83, 0.8299999833);
    width: 34.9rem;
    height: 4.6rem;
    position: absolute;
  }
  .perfil-FeE {
    width: 4.8rem;
    height: 2.5rem;
    left: 4.1rem;
    top: 30.4rem;
    font-size: 2rem;
    line-height: 1.2125;
    position: absolute;
    font-weight: 300;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .idiomas-xYe {
    height: 2.5rem;
    position: absolute;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    white-space: nowrap;
    width: 7.2rem;
    top: 73.6rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    left: 4.1rem;
  }
  .line-11-Fne {
    width: 24rem;
    height: 0.1rem;
    position: absolute;
    left: 3.2rem;
    top: 40.8rem;
    background-color: #ffffff;
  }
  .line-12-aK8 {
    position: absolute;
    left: 2.7rem;
    top: 50.5rem;
    background-color: #ffffff;
    width: 24rem;
    height: 0.1rem;
  }
  .line-13-uMQ {
    left: 3.2rem;
    top: 58.5rem;
    background-color: #ffffff;
    width: 24rem;
    height: 0.1rem;
    position: absolute;
  }
  .line-14-Eea {
    background-color: #ffffff;
    width: 24rem;
    height: 0.1rem;
    position: absolute;
    left: 3.2rem;
    top: 68.5rem;
  }
  .line-15-y6N {
    width: 23.8019rem;
    height: 0.5rem;
    position: absolute;
    left: 3.3991rem;
    top: 83.95rem;
    background-color: #ffffff;
  }
  .line-17-6Az {
    height: 0;
    position: absolute;
    left: 3.399rem;
    top: 83.7255rem;
    object-fit: contain;
    vertical-align: top;
    width: 14.901rem;
  }
  .line-16-2KY {
    left: 3.4rem;
    top: 90.4rem;
    background-color: #ffffff;
    width: 23.8019rem;
    height: 0.5rem;
    position: absolute;
  }
  .line-18-M6v {
    width: 10.2rem;
    height: 0;
    position: absolute;
    left: 3.4rem;
    top: 90.15rem;
    object-fit: contain;
    vertical-align: top;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-tMk {
    height: 7.3rem;
    position: absolute;
    font-size: 1.5rem;
    line-height: 1.2125;
    width: 47.8rem;
    top: 4.7rem;
    font-weight: 300;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    left: 41.4rem;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-6Cv {
    position: absolute;
    font-size: 1.5rem;
    color: #000000;
    height: 7.3rem;
    left: 50.4rem;
    top: 20.7rem;
    font-weight: 300;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 40.7rem;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-K5g {
    width: 40.7rem;
    position: absolute;
    font-size: 1.5rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 7.3rem;
    left: 50.4rem;
    top: 32.1rem;
    font-weight: 300;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-Kjt {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2125;
    color: #000000;
    width: 40.7rem;
    height: 7.3rem;
    left: 50.4rem;
    top: 51.3rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .experiencia-joc {
    width: 10rem;
    height: 1.9rem;
    position: absolute;
    left: 38.9rem;
    font-size: 1.5rem;
    line-height: 1.2125;
    white-space: nowrap;
    top: 14.7rem;
    font-weight: 700;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .cargo-Dyg {
    font-weight: 700;
    color: #000000;
    width: 4.2rem;
    top: 18.6rem;
    font-size: 1.5rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.9rem;
    position: absolute;
    left: 50.7rem;
  }
  .cargo-jSE {
    width: 4.2rem;
    height: 1.9rem;
    position: absolute;
    font-size: 1.5rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 50.7rem;
    top: 30rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
  }
  .cargo-qkA {
    left: 50.7rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    width: 4.2rem;
    position: absolute;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    height: 1.9rem;
    top: 49.2rem;
  }
  .item-2018-01-220-06-YPg {
    top: 20.7rem;
    font-family: Inter, 'Source Sans Pro';
    line-height: 1.2125;
    color: #000000;
    width: 6.3rem;
    height: 3.7rem;
    position: absolute;
    left: 40.5rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .item-2018-01-220-06-dg2 {
    height: 3.7rem;
    position: absolute;
    left: 40.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #000000;
    width: 6.3rem;
    top: 32.1rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .item-2018-01-220-06-8cn {
    left: 40.5rem;
    top: 51.3rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 6.3rem;
    height: 3.7rem;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2125;
  }
  .que-hacias-que-aprendiste-Poc {
    left: 50.4rem;
    top: 39.3rem;
    font-weight: 300;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 10.5rem;
    position: absolute;
    line-height: 1.2125;
    height: 3.7rem;
    font-size: 1.5rem;
  }
  .que-hacias-que-aprendiste-syg {
    width: 10.5rem;
    height: 3.7rem;
    left: 50.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #000000;
    position: absolute;
    top: 58.5rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .educacion-mpA {
    font-weight: 700;
    line-height: 1.2125;
    height: 1.9rem;
    top: 65.2rem;
    left: 40.5rem;
    font-size: 1.5rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 9.2rem;
    position: absolute;
  }
  .informacion-adicional-HGi {
    position: absolute;
    left: 40.9rem;
    top: 91.6rem;
    font-size: 1.5rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.9rem;
    font-weight: 700;
    color: #000000;
    width: 15.9rem;
  }
  .rectangle-16-BN6 {
    top: 64.1rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 66.2rem;
    height: 3.6rem;
    position: absolute;
    left: 34.5rem;
  }
  .rectangle-18-JBp {
    left: 34.9rem;
    top: 90.5rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 66.2rem;
    height: 3.6rem;
    position: absolute;
  }
  .rectangle-17-ciJ {
    height: 3.6rem;
    position: absolute;
    left: 34.5rem;
    top: 13.7rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 66.2rem;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-Ybx {
    width: 40.7rem;
    position: absolute;
    left: 42.8rem;
    top: 96.1rem;
    font-size: 1.5rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 7.3rem;
    font-weight: 300;
    line-height: 1.2125;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-a2r {
    top: 96.1rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #000000;
    width: 40.7rem;
    height: 7.3rem;
    left: 42.8rem;
    position: absolute;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .image-1-bCr {
    height: 14rem;
    position: absolute;
    left: 37.1rem;
    top: 70.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 62.2rem;
  }
  .group-15-Wqc {
    font-size: 3rem;
    line-height: 1.2125;
    color: #fdf1f1;
    width: 66rem;
    height: 7.3rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    top: 108.6rem;
    white-space: nowrap;
    left: 34.7rem;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    background-color: #69f777;
    cursor: pointer;
    position: absolute;
  }
}
