
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 67rem;
}.frame-7-nyU {
  box-sizing: border-box;
  padding: 7rem 8.5rem 40rem 8.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .cargos-disponibles-KTc {
    font-weight: 500;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 7.4rem 2rem;
    font-size: 3rem;
  }
  .group-10-QEA {
    font-size: 3rem;
    font-weight: 500;
    color: #000000;
    flex-shrink: 0;
    width: 23rem;
    line-height: 1.2125;
    height: 5.1rem;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin: 0rem 26.6rem 4rem 0rem;
    align-items: center;
    background-color: #a9da3f;
    border-radius: 3.1rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .group-11-eeJ {
    justify-content: center;
    margin: 0rem 0rem 5.4rem 26.6rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    background-color: #a9da3f;
    border-radius: 3.1rem;
    cursor: pointer;
    font-size: 3rem;
    flex-shrink: 0;
    height: 5.1rem;
    display: flex;
    white-space: nowrap;
    align-items: center;
    width: 23rem;
    color: #000000;
  }
  .group-12-KEe {
    cursor: pointer;
    font-family: Inter, 'Source Sans Pro';
    height: 5.1rem;
    font-weight: 500;
    justify-content: center;
    flex-shrink: 0;
    width: 23rem;
    white-space: nowrap;
    display: flex;
    border-radius: 3.1rem;
    margin: 0rem 26.6rem 5.9rem 0rem;
    font-size: 3rem;
    line-height: 1.2125;
    color: #000000;
    align-items: center;
    background-color: #a9da3f;
  }
  .group-14-bT4 {
    cursor: pointer;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2125;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 3.5rem 26.6rem;
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 3.1rem;
    width: 23rem;
    height: 5.1rem;
    color: #000000;
    background-color: #a9da3f;
  }
  .group-13-ew8 {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    background-color: #a9da3f;
    height: 5.1rem;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    margin-right: 26.6rem;
    width: 23rem;
    cursor: pointer;
    align-items: center;
    color: #000000;
    border-radius: 3.1rem;
  }
}
