
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100.7rem;
}.frame-6-URC {
  width: 100%;
  height: 118.5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.frame-6-URC .rectangle-13-ycr {
  width: 34.9rem;
  height: 118.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #14333a;
}
.frame-6-URC .frances-Jf8 {
  width: 7rem;
  height: 2.5rem;
  position: absolute;
  left: 3.8rem;
  top: 87rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .ingles-bu8 {
  width: 5.5rem;
  height: 2.5rem;
  position: absolute;
  left: 4.1rem;
  top: 80.3rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .linkedin-JHk {
  width: 7.1rem;
  height: 2.5rem;
  position: absolute;
  left: 2rem;
  top: 62.4rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .email-Ctv {
  width: 5rem;
  height: 2.5rem;
  position: absolute;
  left: 2rem;
  top: 52.8rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .telefono-Wuc {
  width: 7.7rem;
  height: 2.5rem;
  position: absolute;
  left: 2rem;
  top: 44.8rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .direccion-Zst {
  width: 8.6rem;
  height: 2.5rem;
  position: absolute;
  left: 2rem;
  top: 36.3rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .gg-profile-H3C {
  width: 13.75rem;
  height: 13.75rem;
  position: absolute;
  left: 10.625rem;
  top: 10.525rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-6-URC .rectangle-14-1E6 {
  width: 34.9rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 29.3rem;
  background-color: rgba(62, 80, 83, 0.8299999833);
}
.frame-6-URC .rectangle-15-XTL {
  width: 34.9rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 72.5rem;
  background-color: rgba(62, 80, 83, 0.8299999833);
}
.frame-6-URC .perfil-FeE {
  width: 4.8rem;
  height: 2.5rem;
  position: absolute;
  left: 4.1rem;
  top: 30.4rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .idiomas-xYe {
  width: 7.2rem;
  height: 2.5rem;
  position: absolute;
  left: 4.1rem;
  top: 73.6rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .line-11-Fne {
  width: 24rem;
  height: 0.1rem;
  position: absolute;
  left: 3.2rem;
  top: 40.8rem;
  background-color: #ffffff;
}
.frame-6-URC .line-12-aK8 {
  width: 24rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 50.5rem;
  background-color: #ffffff;
}
.frame-6-URC .line-13-uMQ {
  width: 24rem;
  height: 0.1rem;
  position: absolute;
  left: 3.2rem;
  top: 58.5rem;
  background-color: #ffffff;
}
.frame-6-URC .line-14-Eea {
  width: 24rem;
  height: 0.1rem;
  position: absolute;
  left: 3.2rem;
  top: 68.5rem;
  background-color: #ffffff;
}
.frame-6-URC .line-15-y6N {
  width: 23.8019rem;
  height: 0.5rem;
  position: absolute;
  left: 3.3991rem;
  top: 83.95rem;
  background-color: #ffffff;
}
.frame-6-URC .line-17-6Az {
  width: 14.901rem;
  height: 0;
  position: absolute;
  left: 3.399rem;
  top: 83.7255rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-6-URC .line-16-2KY {
  width: 23.8019rem;
  height: 0.5rem;
  position: absolute;
  left: 3.4rem;
  top: 90.4rem;
  background-color: #ffffff;
}
.frame-6-URC .line-18-M6v {
  width: 10.2rem;
  height: 0;
  position: absolute;
  left: 3.4rem;
  top: 90.15rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-6-URC .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-tMk {
  width: 47.8rem;
  height: 7.3rem;
  position: absolute;
  left: 41.4rem;
  top: 4.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-6Cv {
  width: 40.7rem;
  height: 7.3rem;
  position: absolute;
  left: 50.4rem;
  top: 20.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-K5g {
  width: 40.7rem;
  height: 7.3rem;
  position: absolute;
  left: 50.4rem;
  top: 32.1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-Kjt {
  width: 40.7rem;
  height: 7.3rem;
  position: absolute;
  left: 50.4rem;
  top: 51.3rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .experiencia-joc {
  width: 10rem;
  height: 1.9rem;
  position: absolute;
  left: 38.9rem;
  top: 14.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .cargo-Dyg {
  width: 4.2rem;
  height: 1.9rem;
  position: absolute;
  left: 50.7rem;
  top: 18.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .cargo-jSE {
  width: 4.2rem;
  height: 1.9rem;
  position: absolute;
  left: 50.7rem;
  top: 30rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .cargo-qkA {
  width: 4.2rem;
  height: 1.9rem;
  position: absolute;
  left: 50.7rem;
  top: 49.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .item-2018-01-220-06-YPg {
  width: 6.3rem;
  height: 3.7rem;
  position: absolute;
  left: 40.5rem;
  top: 20.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .item-2018-01-220-06-dg2 {
  width: 6.3rem;
  height: 3.7rem;
  position: absolute;
  left: 40.5rem;
  top: 32.1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .item-2018-01-220-06-8cn {
  width: 6.3rem;
  height: 3.7rem;
  position: absolute;
  left: 40.5rem;
  top: 51.3rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .que-hacias-que-aprendiste-Poc {
  width: 10.5rem;
  height: 3.7rem;
  position: absolute;
  left: 50.4rem;
  top: 39.3rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .que-hacias-que-aprendiste-syg {
  width: 10.5rem;
  height: 3.7rem;
  position: absolute;
  left: 50.5rem;
  top: 58.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .educacion-mpA {
  width: 9.2rem;
  height: 1.9rem;
  position: absolute;
  left: 40.5rem;
  top: 65.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .informacion-adicional-HGi {
  width: 15.9rem;
  height: 1.9rem;
  position: absolute;
  left: 40.9rem;
  top: 91.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-6-URC .rectangle-16-BN6 {
  width: 66.2rem;
  height: 3.6rem;
  position: absolute;
  left: 34.5rem;
  top: 64.1rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
}
.frame-6-URC .rectangle-18-JBp {
  width: 66.2rem;
  height: 3.6rem;
  position: absolute;
  left: 34.9rem;
  top: 90.5rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
}
.frame-6-URC .rectangle-17-ciJ {
  width: 66.2rem;
  height: 3.6rem;
  position: absolute;
  left: 34.5rem;
  top: 13.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
}
.frame-6-URC .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-Ybx {
  width: 40.7rem;
  height: 7.3rem;
  position: absolute;
  left: 42.8rem;
  top: 96.1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .lorem-ipsum-dolor-sit-amet-consectetur-egestas-nunc-fermentum-id-tellus-dolor-proin-faucibus-eget-sit-enim-ornare-a-rutrum-congue-tincidunt-faucibus-vitae-euismod-suspendisse-amet-mi-scelerisque-posuere-laoreet-arcu-a2r {
  width: 40.7rem;
  height: 7.3rem;
  position: absolute;
  left: 42.8rem;
  top: 96.1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-6-URC .image-1-bCr {
  width: 62.2rem;
  height: 14rem;
  position: absolute;
  left: 37.1rem;
  top: 70.6rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-6-URC .group-15-Wqc {
  width: 66rem;
  height: 7.3rem;
  cursor: pointer;
  position: absolute;
  left: 34.7rem;
  top: 108.6rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #fdf1f1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #69f777;
}
